<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="css/bootstrap.css" rel="stylesheet"/>
    <style type="text/css">
        h4 {
        margin-top: 25px;
        }
        .row {
        margin-bottom: 5px;
        }
        .row .row {
        margin-top: 10px;
        margin-bottom: 0px;
        }
    </style>
</head>
<body>
<form action="/register" method="post">
<div class="container">
    <div class="row">
        <div class="col-md-2"><input type="text" name="name" placeholder="Name"/></div>
        <div class="col-md-2"><input type="text" name="email" placeholder="Email"/></div>
        <div class="8"><button type="submit">register</button></div>
    </div>
</div>
</form>
<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/json2.js"></script>
<script type="text/javascript" src="js/npm.js"></script>
</body>
</html>